.App {
  text-align: center;
}

.container {
  padding: 3% 1% 1% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switchMap {
  width: 20vw;
  height: 3vw;
  font-size: 22px;
}

.imageContainerNY, .imageContainerUSA {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainerUSA {
  padding-top: 0%;
  margin-top: -1.25%;
}

.usaMap {
  width: 45vw;
}

.nyMap {
  width: 50vw;
}

.pin {
  position: absolute;
  width: 1.5vw;
}

.titleText {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
}

.infoText {
  position: absolute;
  font-weight: bold;
}

/* pin coords */
#NewRochelle {
  left: 61.75%;
  top: 81.25%;
}

#NYC {
  left: 60.5%;
  top: 86.25%;
}

#Binghamton {
  left: 49%;
  top: 62.5%;
}

#Rochester {
  left: 38.75%;
  top: 43.5%;
}

#NewJersey {
  left: 56%;
  top: 91%;
}

#Oneonta {
  left: 54%;
  top: 55.4%;
}

#Hartford {
  left: 68.4%;
  top: 67%;
}

#NewHaven {
  left: 66.8%;
  top: 74.6%;
}

#Boston {
  left: 68%;
  top: 25.5%;
}

#DC {
  left: 61.9%;
  top: 40.5%;
}

#Atlanta {
  left: 53%;
  top: 60.5%;
}

#Chicago {
  left: 46.75%;
  top: 35%;
}

#Orlando {
  left: 58.5%;
  top: 79%;
}